<h1 id="header">BookMe Company</h1>

### Supervised Project

In [19]:
# Relevant Package Importing
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

### Pre-Processing
Need to solve nulls in year of birth

In [119]:
#Import Data from cluster.csv
db = pd.read_csv('train.csv')
db[db.duplicated(keep = False)] # We don't have duplicates
# Fill year of brith NAs with median
db['Year_Birth'] = db['Year_Birth'].fillna(db['Year_Birth'].median()).astype(int).astype(np.int64)

In [120]:
test = pd.read_csv('test.csv')

##### Replace incorrect performance values

In [121]:
db['Wifi'] = db['Wifi'].replace(6,5)
# db['Comfort'] = db['Comfort'].replace(0,1)
# db['ReceptionSchedule'] = db['ReceptionSchedule'].replace(0,1)
# db['FoodDrink'] = db['FoodDrink'].replace(0,1)
# db['Wifi'] = db['Wifi'].replace(0,1).replace(6,5)
# db['Amenities'] = db['Amenities'].replace(0,1)
# db['OnlineBooking'] = db['OnlineBooking'].replace(0,1)
# db['RoomSpace'] = db['RoomSpace'].replace(0,1)
# db['BarService'] = db['BarService'].replace(0,1)

In [122]:
# test['Comfort'] = test['Comfort'].replace(0,1)
# test['ReceptionSchedule'] = test['ReceptionSchedule'].replace(0,1)
# test['FoodDrink'] = test['FoodDrink'].replace(0,1)
# test['Location'] = test['Location'].replace(0,1)
# test['Wifi'] = test['Wifi'].replace(0,1)
# test['Amenities'] = test['Amenities'].replace(0,1)
# test['OnlineBooking'] = test['OnlineBooking'].replace(0,1)
# test['RoomSpace'] = test['RoomSpace'].replace(0,1)
# test['BarService'] = test['BarService'].replace(0,1)

In [123]:
# Converting every column that is int64 to int8 for performance issues
db.iloc[:,(db.dtypes=='int64').values] = db.iloc[:,(db.dtypes=='int64').values].astype(np.int16)
test.iloc[:,(test.dtypes=='int64').values] = test.iloc[:,(test.dtypes=='int64').values].astype(np.int16)

##### Change Year of Birth with Date

In [124]:
from datetime import date
db['Age'] = date.today().year - db['Year_Birth']
db.drop(columns = ['Year_Birth'], axis=1, inplace=True)
test['Age'] = date.today().year - test['Year_Birth']
test.drop(columns = ['Year_Birth'], axis=1, inplace=True)

##### Set Customer ID as Index

In [125]:
db.set_index('Cust_ID', inplace = True)

In [ ]:
#db.describe().T

##### Notes from initial pre-processing
- We have a minimum age of 8 years and max of 81 in the test file
- Min 8 and max 86 in the train file

In [126]:
db['Longevity'] = db['Longevity'].replace('y','yes') #Yes and y both show as different values, will be changed into "yes"
db['Longevity'] = db['Longevity'].replace('yes',1).replace('no',0)
test['Longevity'] = test['Longevity'].replace('yes',1).replace('no',0)

In [127]:
db['TypeTravel'] = db['TypeTravel'].replace('business',1).replace('leisure',0) #1 will represent business and 0 will represent leisure
test['TypeTravel'] = test['TypeTravel'].replace('business',1).replace('leisure',0)

In [128]:
gender = db['Name'].str.split(' ',expand = True,n=1)[0]
db['Gender'] = gender
db['Gender'] = db['Gender'].replace('Ms.',0).replace('Mr.',1)
db.drop(columns = ['Name'], axis = 1, inplace = True)

gender = test['Name'].str.split(' ',expand = True,n=1)[0]
test['Gender'] = gender
test['Gender'] = test['Gender'].replace('Ms.',0).replace('Mr.',1)
test.drop(columns = ['Name'], axis = 1, inplace = True)

----
##### Start Division between Data and Target

In [129]:
data = db.drop(['Churn'], axis=1)
target = db['Churn']

In [132]:
data = pd.get_dummies(data)
data.head()

,Longevity,TypeTravel,RewardPoints,Comfort,ReceptionSchedule,FoodDrink,Location,Wifi,Amenities,Staff,...,RoomSpace,CheckOut,Checkin,Cleanliness,BarService,Age,Gender,RoomType_double,RoomType_single,RoomType_suite
Cust_ID,,,,,,,,,,,,,,,,,,,,,
1,1,1,4907,3,4,1,4,4,3,4,...,3,3,4,3,4,48,0,0,1,0
2,1,1,6724,1,1,1,1,5,3,4,...,5,5,1,5,2,57,1,0,1,0
3,1,1,4365,3,3,3,3,1,4,4,...,2,3,2,3,1,49,1,0,1,0
4,1,0,3849,1,1,1,1,4,4,5,...,4,4,4,4,3,29,0,1,0,0
5,1,1,5376,2,2,3,2,5,5,5,...,3,4,1,3,5,33,1,0,1,0

In [ ]:
#print(target.info())
#print(data.info())

##### If we want to use Hold-out method

In [74]:
from sklearn.model_selection import train_test_split

In [133]:
X_train, X_val, y_train, y_val = train_test_split(data, 
                                                    target, 
                                                    test_size=0.2, 
                                                    random_state=15, 
                                                    shuffle=True, 
                                                    stratify=target
                                                   )

In [134]:
print('train:{}% | validation:{}%'.format(round(len(y_train)/len(target),2),
                                                     round(len(y_val)/len(target),2)
                                                    ))

train:0.8% | validation:0.2%

##### Dividing DataSet between Numerical and Categorical data

In [135]:
# Numerical data
X_train_num = X_train.select_dtypes(include=np.number).set_index(X_train.index)
X_val_num = X_val.select_dtypes(include=np.number).set_index(X_val.index)

# Categorical data
X_train_cat = X_train.select_dtypes(exclude=np.number).set_index(X_train.index)
X_val_cat = X_val.select_dtypes(exclude=np.number).set_index(X_val.index)

##### Scaling numerical data between 0 and 1

In [136]:
scaler = MinMaxScaler()
scaler.fit(X_train_num)
X_train_num_scaled = scaler.transform(X_train_num) # this will return an array
X_train_num_scaled = pd.DataFrame(X_train_num_scaled, columns = X_train_num.columns, index = X_train.index) # Convert the array to a pandas dataframe
X_train_num_scaled.head(5)

,Longevity,TypeTravel,RewardPoints,Comfort,ReceptionSchedule,FoodDrink,Location,Wifi,Amenities,Staff,...,RoomSpace,CheckOut,Checkin,Cleanliness,BarService,Age,Gender,RoomType_double,RoomType_single,RoomType_suite
Cust_ID,,,,,,,,,,,,,,,,,,,,,
9587,1.0,1.0,0.508026,0.6,0.4,0.6,0.50,0.8,0.8,0.75,...,0.8,1.00,0.50,0.75,0.8,0.153846,0.0,0.0,1.0,0.0
4281,0.0,1.0,0.695459,0.2,0.2,0.2,0.75,0.2,0.2,0.00,...,0.4,0.75,0.00,0.75,0.2,0.448718,0.0,1.0,0.0,0.0
6256,0.0,1.0,0.153340,0.6,0.6,0.6,0.50,0.6,0.2,0.00,...,0.8,0.75,0.00,1.00,0.2,0.423077,1.0,0.0,1.0,0.0
10584,1.0,1.0,0.941752,0.6,1.0,1.0,1.00,0.2,0.6,0.75,...,0.6,0.50,0.50,0.50,0.6,0.641026,0.0,0.0,0.0,1.0
9339,1.0,1.0,0.912399,1.0,1.0,1.0,1.00,1.0,1.0,0.75,...,1.0,1.00,0.75,1.00,0.6,0.615385,0.0,0.0,1.0,0.0

In [137]:
X_val_num_scaled = scaler.transform(X_val_num)
X_val_num_scaled = pd.DataFrame(X_val_num_scaled, columns = X_val_num.columns, index = X_val.index)
X_val_num_scaled.head(5)

,Longevity,TypeTravel,RewardPoints,Comfort,ReceptionSchedule,FoodDrink,Location,Wifi,Amenities,Staff,...,RoomSpace,CheckOut,Checkin,Cleanliness,BarService,Age,Gender,RoomType_double,RoomType_single,RoomType_suite
Cust_ID,,,,,,,,,,,,,,,,,,,,,
6798,1.0,1.0,0.423024,0.6,0.8,0.8,0.75,0.6,0.6,0.50,...,0.6,0.50,0.25,0.50,0.6,0.653846,0.0,0.0,1.0,0.0
7661,1.0,1.0,0.753096,0.4,0.4,0.4,0.25,0.8,1.0,1.00,...,0.8,0.75,0.75,0.75,0.6,0.435897,0.0,0.0,1.0,0.0
5965,1.0,1.0,0.735514,0.6,0.6,0.4,0.50,1.0,0.8,1.00,...,0.6,0.50,0.50,0.50,1.0,0.397436,1.0,0.0,1.0,0.0
1171,1.0,0.0,0.689344,0.2,0.8,0.2,0.50,0.4,0.2,0.25,...,0.8,0.75,0.75,0.75,0.4,0.025641,1.0,1.0,0.0,0.0
11840,0.0,1.0,0.604953,0.4,0.4,0.4,0.75,0.8,0.4,0.75,...,1.0,0.75,0.75,1.00,0.8,0.243590,1.0,0.0,1.0,0.0

### Feature Selection

----

#### Apply Logistic Regression

In [77]:
from sklearn.linear_model import LogisticRegression

In [ ]:
log_model = LogisticRegression()
log_model.fit(X_train, y_train)

In [ ]:
print('Train:', log_model.score(X_train, y_train))
print('Validation:', log_model.score(X_val, y_val))

----

##### K-Fold Cross Validation

In [ ]:
from sklearn.linear_model import LogisticRegression